{
  "behaviours": [
    {
      "example": {
        "file": "example/basic_behaviour.py"
      }
    }
  ], 
  "boatd": {
    "interface": "127.0.0.1", 
    "port": 2222
  }, 
  "driver": {
    "file": "example/basic_driver.py"
  }, 
  "home_position": [
    52.417318, 
    -4.087246
  ], 
  "plugin_directory": null, 
  "plugins": [
    {
      "logger": {
        "enabled": false, 
        "filename": "logs/log_trace", 
        "period": 10
      }
    }, 
    {
      "mavlink": {
        "baud": 115200, 
        "device": "/dev/ttyUSB0", 
        "enabled": false
      }
    }, 
    {
      "gpx_logger": {
        "enabled": false, 
        "filename": "logs/gpx_log", 
        "period": 1
      }
    }
  ], 
  "waypoint_file": null, 
  "wind_filtering": {
    "enabled": true, 
    "rate_of_change": 75
  }
}