boatd:
    port: 2222
    interface: 127.0.0.1

plugin_directory: null

plugins:
    - logger:
        period: 10
        filename: logs/gps_trace

scripts:
    behaviour: example/basic_behaviour.py
    driver: example/basic_driver.py
