{
    "boatd": {
        "port": 2222,
        "interface": "127.0.0.1"
    },
    "plugin_directory": null,
    "plugins": [
        {
            "logger": {
                "filename": "logs/gps_trace",
                "period": 10
            }
        }
    ],
    "scripts": {
        "behaviour": "example/basic_behaviour.py",
        "driver": "example/basic_driver.py"
    }
}
